.main {
  padding: var(--space-large);
  margin: 0 200px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.movie {
  display: inline-block;
}

.movie__footer {
  margin: 0;
}

.movie__title {
  margin-top: var(--size-small);
}

.movie__year::after,
.movie__genre::after {
  content: "\00B7";
  margin: 0 var(--size-small);
}

.movie__bookmark {
  display: grid;
  place-items: center;

  position: absolute;
  top: 20px;
  right: 20px;

  height: 30px;
  width: 30px;
  background-color: hsla(0, 50%, 0%, 0.6);
  border-radius: 50%;
}

.movie__image-container {
  position: relative;
}
